<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="./style/index.css">
</head>

<body>
    <div class="form-container">
        <h1>Iniciar sesión</h1>

        <div class="form-section">
            <h2>Login</h2>
            <form id="loginForm">
                <label for="loginCorreo">Correo</label>
                <input type="email" id="loginCorreo" name="correo" required>

                <label for="loginPassword">Contraseña</label>
                <input type="password" id="loginPassword" name="password" required>

                <button type="submit">Iniciar sesión</button>
            </form>
        </div>

        <div class="form-footer">
            <p>¿No tienes una cuenta?</p>
            <a href="register.html">Regístrate aquí</a>
        </div>
    </div>

    <script>
        document.getElementById('loginForm').addEventListener('submit', async function (e) {
            e.preventDefault();

            const correo = document.getElementById('loginCorreo').value;
            const password = document.getElementById('loginPassword').value;

            if (!correo || !password) {
                alert('Por favor, llena todos los campos.');
                return;
            }

            const response = await fetch('http://localhost:3000/api/login', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json',
                },
                body: JSON.stringify({ correo, password })
            });

            const data = await response.json();

            if (response.ok) {
                alert('Inicio de sesión exitoso');

                sessionStorage.setItem('token', data.token);
                sessionStorage.setItem('nombres', data.user.nombres);
                sessionStorage.setItem('apellidos', data.user.apellidos);

                window.location.href = 'inicio.html';
            } else {
                alert(data.message || 'Error al iniciar sesión');
            }
        });
    </script>
</body>

</html>