<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registro</title>
    <link rel="stylesheet" href="./style/index.css">
</head>

<body>
    <div class="form-container">
        <h1>Crear cuenta</h1>

        <div class="form-section">
            <h2>Registro</h2>
            <form id="registerForm">
                <label for="registerNombres">Nombres</label>
                <input type="text" id="registerNombres" name="nombres" required>

                <label for="registerApellidos">Apellidos</label>
                <input type="text" id="registerApellidos" name="apellidos" required>

                <label for="registerCorreo">Correo</label>
                <input type="email" id="registerCorreo" name="correo" required>

                <label for="registerPassword">Contraseña</label>
                <input type="password" id="registerPassword" name="password" required>

                <button type="submit">Registrar</button>
            </form>
        </div>

        <div class="form-footer">
            <p>¿Ya tienes una cuenta?</p>
            <a href="login.html">Inicia sesión aquí</a>
        </div>
    </div>

    <script>
        document.getElementById('registerForm').addEventListener('submit', async function (e) {
            e.preventDefault(); 

            const nombres = document.getElementById('registerNombres').value;
            const apellidos = document.getElementById('registerApellidos').value;
            const correo = document.getElementById('registerCorreo').value;
            const password = document.getElementById('registerPassword').value;

            if (!nombres || !apellidos || !correo || !password) {
                alert('Por favor, llena todos los campos.');
                return;
            }

            try {
                const response = await fetch('http://localhost:3000/api/create', {
                    method: 'POST',
                    headers: {
                        'Content-Type': 'application/json',
                    },
                    body: JSON.stringify({ nombres, apellidos, correo, password })
                });
                const data = await response.json();

                if (response.ok) {
                    alert('Usuario registrado exitosamente');
                    window.location.href = 'login.html';
                } else {
                    alert(data.message || 'Error al registrar el usuario');
                }
            } catch (error) {
                console.error('Error al registrar el usuario:', error);
                alert('Hubo un error al registrar el usuario.');
            }
        });
    </script>
</body>

</html>